.debating-section{
    background-color: #0C3453;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 6.5rem 2rem;
    align-items: center;
}
.debate-title{
    text-align: center;
    margin-bottom: 1em;
}
.debate-text{
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 2em;
    text-align: center;
}
.db + .db{
    margin-top: 6rem;
}
